<div class="container text-center">
<h1 class="title pt-5">Editing client</h1>

<%= render "form", client: @client %>

<br>

<%= link_to clients_path, class: "btn add-button mt-3" do %>
    <p>Back to clients</p>
  <%end %>
</div>
